doctype HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
html
  head
  body
  mixin info(text)
    p.info= text

  mixin bar(header, info)
    i = info
    if(i=='test')
      .header= something
    else
      .content=info

  mixin foobar
    mixin info("testing")
    mixin bar('Header', 'test')
    mixin bar('Header2', 'test2')
  
  mixin foobar
